# Node modules
node_modules

# Build files
build/

# Database files
db/*.db

# Environment variables
.env
.env.test

# Temporary files
tmp/app.sqlite

# OS files
.DS_Store

# Cursor files
.cursorrules
.cursor
.cursorignore
.cursorignore